.table-action-wrapper {
    .os-content {
        position: static;
    }

    .os-viewport {
        position: static;
    }

    position: relative;

    .table-scroll-wrapper {
        margin-bottom: 20px;

        table {
            &.striped {
                thead {
                    border-bottom: none;
                }

                > tbody {
                    > tr {
                        > td {
                            background-color: #ffffff;
                            border-right: 1px solid $table-border-color;
                            border-left: 1px solid $table-border-color;
                        }

                        &:first-child > td {
                            border-top: 1px solid $table-border-color;
                        }

                        &:last-child > td {
                            border-bottom: 1px solid $table-border-color;
                        }
                    }

                    > tr:nth-child(odd) {
                        background-color: #ffffff;

                        td, th {
                            background-color: $table-striped-color;
                        }
                    }
                }
            }

            &.highlight > tbody > tr {
                background-color: #ffffff;

                td, th {
                    transition: background-color .25s ease;
                }

                &:hover {
                    td, th, & {
                        background-color: $table-border-color;
                    }
                }
            }

            th, td {
                padding: 0;
            }

            .action-column {
                padding: 0;
                position: absolute;
                right: 0;
                width: 94px;

                .action-column-container {
                    justify-content: center;

                    .btn-floating {
                        margin-right: $gutter-width / 2;
                        height: 32px;
                        width: 32px;

                        i {
                            float: left;
                            font-size: 1.4rem;
                            line-height: 32px;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            thead > tr > * > *, tbody > tr > * > div {
                padding: 5px;
                min-height: 50px;
                line-height: 16px;
                display: flex;
                align-items: center;

                > div {
                    width: 100%;
                }
            }

            thead {
                td, th {
                    > div {
                        position: relative;
                        background-color: #ffffff;
                        border-bottom: 1px solid $table-border-color;
                        z-index: 10;
                    }
                }

                > tr.filters > * > * {
                    padding: 0;
                    height: $input-height;
                    line-height: normal;
                }
            }
        }

        margin-right: 94px;
    }
}
